<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Federal Agency Visition</title>
</head>
<body>
    <h1>Date and Volume of Highest Visitation to Federal Agency Websites in 2026</h1>
    <h3>Welcome to this API providing the date and volume of the highest website visitation to federal agencies.</h3>
    <p>This API provides the date(s) and highest number of website visitors to an Agency's hostname in 2026. Data Source: https://open.gsa.gov/</p>
    <br>
    <h3>Pick an endpoint to retrieve data on a specific Agency using the query string root/endpoint. Use root/endpoint/2026?limit={int} to pull back a sample number of records from the current year.</h3>
    <h3></h3>
    {%for endpoint in endpoints%}
    <p>{{ endpoint }}</p>
    {% endfor %}
</body>
</html>