<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
</head>
<body>
    {% include 'navbar.html' %}

    <div class="grid-container"
            style="
              grid-template-columns: 1fr 1fr;
              grid-template-rows: 1;
            " >
        <div class="box" style="grid-column: 1/3; background-color: #ffff; border-radius: 10px">
                <div class="flex-container">
                    <div class="flex-box" style="flex-grow: 1; padding: 10% 8%; background-color: #fff;">
                        <p style="background-color: #fff;">Thank you. Your message was received.</p>
                       </div>
                </div>
    </div>
    <div style="padding-top: 15%">
    </div>
        {% include 'footer.html' %}

</body>
</html>