<!DOCTYPE html>
<html lang="en">

<body>
  <div class="nav-flex-container" style="justify-content: space-around;">

      <div class="nav1" style="background-color: white; flex-wrap: wrap; flex-grow: 2; ">
        <img src="../static/images/logo_youchien_resized.png" alt="" width="600px" style="max-width: 100%;" />
      </div>
      <nav class="nav1" style="background-color: white; flex-grow: 1;">
        <ul>
          <li><a href="{{url_for('open_home_page')}}">概要</a></li>
          <li><a href="{{url_for('open_schedule_page')}}">スケジュール</a></li>
          <li><a href="{{url_for('open_contact_page')}}">お問い合わせ</a></li>
          <li><a href="{{url_for('open_job_page')}}">採用情報</a></li>
          <li><form action="{{url_for('open_language_page', page=page, language = 'english') }}" method="POST" >
              <button class="login-btn main-font-regular" type="submit" name="language" value="english"
            >English</button>
          </form>
          </li>
        </ul>
      </nav>
  </div>

</body>
</html>